.DS_Store
.vscode/
.idea/

# tp1
first_program
second_program
analysis

# tp2
test_matrix_power
test_matrix_random

# tp3
test_permutation
test_sparse

# tp4
TestRandomWalk
ProfileContainers
chocolatine.cpp
Analysis

# tp5
test_monte_carlo

# tp6
test_polynome
