.DS_Store
.vscode/
.idea/

# TP1
FirstProgram
SecondProgram
Analysis

# TP2
test_matrix_power
test_matrix_random

# TP3
test_permutation
test_sparse

# TP4
TestRandomWalk
ProfileContainers
chocolatine.cpp
Analysis

# TP5
test_monte_carlo

# TP6
test_polynome
